<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SMS - Django</title>


  <style type="text/css">
    body {
      color: #aa082e;
      background-color: #b6bde7;
      font-family: 'Roboto', sans-serif;
    }

    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
       background: -webkit-linear-gradient(left, #343a40, #607d8b);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;